[general]
import = [
    "~/.config/alacritty/catppuccin-mocha.toml",
{{- if eq .chezmoi.os "linux" }}
    "~/.config/alacritty/themes/noctalia.toml",
{{- end }}
]

[window]
dimensions = { columns = 100, lines = 30 }
opacity = 0.75

[font]
normal = { family = "JetBrainsMono Nerd Font", style = "Regular" }
size = 12.0

[scrolling]
history = 100000
