# OS specific configurations
{{ if eq .chezmoi.os "darwin" -}}
if ! grep -q "$(brew --prefix)/bin/fish" /etc/shells
    echo -e "${GREEN}Adding fish to /etc/shells${NC}"
    echo "$(brew --prefix)/bin/fish" | sudo tee -a /etc/shells
end

fish_add_path /opt/homebrew/bin
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}

if test "$SHELL" != "$(command -v fish)"
    echo -e "${GREEN}Changing default shell to fish...${NC}"
    chsh -s "$(command -v fish)"
end

# Common aliases and configurations for all platforms
alias gaa="git add --all"
alias gc="git commit -m"
alias gf="git fetch"
alias gl="git pull"
alias glg="git log"
alias gp="git push"
alias gst="git status"
alias la="ls -A"
alias lal="la -lh"
alias ll="ls -lh"
alias sdn="shutdown now"
alias tosync="cd ~/syncfolder/"
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias .......="cd ../../../../../.."

# Use neovim if available
command -v nvim >/dev/null && alias vi="nvim"