set -l green (set_color green)
set -l red (set_color red)
set -l blue (set_color blue)
set -l normal (set_color normal)
set -l yellow (set_color yellow)
set -l cyan (set_color cyan)
set -g theme_catppuccin_flavour mocha

{{ if eq .chezmoi.os "darwin" -}}
if ! grep -q "$(brew --prefix)/bin/fish" /etc/shells
    echo -e "$green Please add fish to shell PATHs. Command: $normal"
    echo 'echo "$(brew --prefix)/bin/fish" | sudo tee -a /etc/shells'
end

alias buu="brew update --auto-update && brew upgrade && fisher update"

fish_add_path /opt/homebrew/bin
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}

# 更改預設 shell 為 fish
if test "$SHELL" != "$(command -v fish)"
    echo -e "$green You can use this command to set fish as default shell: $normal"
    echo 'chsh -s "$(command -v fish)"'
end

# 共用別名和配置 (適用於所有平台)
alias gaa="git add --all"
alias gc="git commit -m"
alias gf="git fetch"
alias gl="git pull"
alias glg="git log"
alias gp="git push"
alias gst="git status"

alias lal="la -lh"
alias ll="ls -lh"
alias sdn="shutdown now"
alias tosync="cd ~/syncfolder/"
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias .......="cd ../../../../../.."

# 使用 neovim (如果可用)
command -vq nvim && alias vi="nvim"

# 如果存在，加載本地配置
if test -f ~/.config/fish/local.fish
    source ~/.config/fish/local.fish
end

if command -vq zoxide
    zoxide init fish | source
end