set -g theme_catppuccin_flavour mocha

{{ if eq .chezmoi.os "darwin" -}}
if not grep -q (brew --prefix)/bin/fish /etc/shells
    set_color green
    echo "Please add fish to shell PATHs:"
    set_color normal
    echo 'echo "$(brew --prefix)/bin/fish" | sudo tee -a /etc/shells'
end

# Homebrew environment
set -gx HOMEBREW_NO_AUTO_UPDATE 1
set -gx HOMEBREW_NO_ENV_HINTS 1

alias buu "brew update --auto-update && brew upgrade && fisher update"

fish_add_path /opt/homebrew/bin
/opt/homebrew/bin/brew shellenv | source
{{ end }}

# 提示設定預設 shell
if test "$SHELL" != (command -v fish)
    set_color green
    echo "Set fish as default shell:"
    set_color normal
    echo 'chsh -s (command -v fish)'
end

# neovim 別名
command -q nvim && alias vi nvim

# 載入本地設定
test -f ~/.config/fish/local.fish && source ~/.config/fish/local.fish

# zoxide 初始化
command -q zoxide && zoxide init fish | source