local wezterm = require 'wezterm'
local config = wezterm.config_builder()
config.max_fps      = 170
config.ssh_domains  = {}
config.harfbuzz_features = { 'liga=1' }
config.enable_tab_bar = false

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
config.color_scheme = 'Noctalia'
{{ else -}}
config.color_scheme = 'Catppuccin Mocha'
{{ end -}}

-- Font configuration
config.font = wezterm.font('JetBrainsMono Nerd Font', { weight = 'Regular' })
config.font_size = 12.0

return config
