function bat --description 'bat (Ubuntu uses batcat) -p' --wraps bat
  {{ if and (eq .chezmoi.os "linux") (contains "ubuntu" (.chezmoi.osRelease.id | lower)) }}
    # On Ubuntu, use batcat due to a naming collision. https://github.com/sharkdp/bat/issues/982
    command batcat -p -- $argv
  {{ else }}
    command bat -p -- $argv
  {{ end }}
end
