#!/bin/bash
set -e
export GREEN='\033[1;32m'
export NC='\033[0m'

echo -e "${GREEN}Installing required packages...${NC}"

# Retry helper function
retry() {
  local n=1
  local max=5
  local delay=5
  while true; do
    "$@" && break || {
      if [[ $n -lt $max ]]; then
        ((n++))
        echo "Command failed. Attempt $n/$max:"
        sleep $delay;
      else
        echo "Command failed after $n attempts."
        return 1
      fi
    }
  done
}

{{ if eq .chezmoi.os "linux" }}
if [ -f /etc/os-release ]; then
    distro=$(grep -E '^ID=' /etc/os-release | cut -d= -f2 | tr -d '"')
    case $distro in
        arch|manjaro)
            echo -e "${GREEN}Using Arch/Manjaro setting...${NC}"
            # Update pacman mirrorlist for better performance
            echo -e "${GREEN}Optimizing mirrorlist...${NC}"
            sudo pacman-mirrors --fasttrack && sudo pacman -Syy

            # Setup pacman parallel downloads
            sudo sed -i 's/#ParallelDownloads = 5/ParallelDownloads = 10/g' /etc/pacman.conf

            # List of packages to be installed using Pacman
            pacman_packages=(
                "bat"
                "base-devel"
                "brave-browser"
                "clang"
                "curl"
                "discord"
                "docker"
                "docker-compose"
                "fish"
                "git"
                "htop"
                "ibus-chewing"
                "neofetch"
                "neovim"
                "net-tools"
                "openssh"
                "telegram-desktop"
                "the_silver_searcher"
                "tig"
                "tldr"
                "tree"
                "tmux"
                "wget"
            )

            echo -e "${GREEN}Installing packages...${NC}"
            retry sudo pacman -Syu --noconfirm
            retry sudo pacman -S "${pacman_packages[@]}" --noconfirm

            # Install paru
            echo -e "${GREEN}Installing paru...${NC}"
            retry "cd /tmp && git clone https://aur.archlinux.org/paru.git && cd paru && makepkg -si --noconfirm"
            echo -e "${GREEN}All packages installed!${NC}"

            # Configuration
            echo -e "${GREEN}Setting up configurations...${NC}"
            echo -e "Copying following files to ~/:"
            for f in ${DOTFILE_PATH}/home/.[!.g]*; do
                echo ${f}
            done

            # Install LazyVim
            rm -rf ~/.config/nvim ~/.local/share/nvim ~/.local/state/nvim ~/.cache/nvim
            git clone https://github.com/LazyVim/starter ~/.config/nvim
            rm -rf ~/.config/nvim/.git
            cp -lR --remove-destination ${DOTFILE_PATH}/nvim/lua/* ~/.config/nvim/lua/

            # Switch shell to fish
            echo -e "${GREEN}Switching shell to fish...${NC}"
            chsh -s $(which fish)
            ;;
        ubuntu)
            echo -e "${GREEN}Using Ubuntu setting...${NC}"
            retry sudo apt update && sudo apt install -y git openssh-client fish
            ;;
        *)
            echo "Unsupported Linux distribution: $distro"
            ;;
    esac
fi
{{ else if eq .chezmoi.os "darwin" }}
echo -e "${GREEN}Using macOS setting...${NC}"
retry brew install git fish
{{ else }}
echo "Unsupported operating system."
{{ end }}

