#!/bin/bash
set -e
export GREEN='\033[1;32m'
export NC='\033[0m'

echo -e "${GREEN}Installing required packages...${NC}"
{{ if eq .chezmoi.os "linux" }}
if [ -f /etc/os-release ]; then
    distro=$(grep -E '^ID=' /etc/os-release | cut -d= -f2 | tr -d '"')
    case $distro in
        arch|manjaro)
            echo -e "${GREEN}Using Arch/Manjaro setting...${NC}"
            # Update pacman mirrorlist for better performance
            echo -e "${GREEN}Updating pacman mirrorlist for better performance...${NC}"
            sudo pacman-mirrors --fasttrack && sudo pacman -Syy

            # Setup pacman parallel downloads
            sudo sed -i 's/#ParallelDownloads = 5/ParallelDownloads = 5/g' /etc/pacman.conf

            # List of packages to be installed using Pacman
            pacman_packages=(
                "bat"
                "base-devel"
                "brave-browser"
                "clang"
                "curl"
                "discord"
                "docker"
                "docker-compose"
                "fish"
                "git"
                "htop"
                "ibus-chewing"
                "neofetch"
                "neovim"
                "net-tools"
                "openssh"
                "teams"
                "telegram-desktop"
                "the_silver_searcher"
                "tig"
                "tldr"
                "tree"
                "tmux"
                "wget"
            )

            echo -e "${GREEN}Installing packages...${NC}"
            sudo pacman -Syu --noconfirm
            sudo pacman -S "${pacman_packages[@]}" --noconfirm

            # Install paru
            (cd /tmp && git clone https://aur.archlinux.org/paru.git && cd paru && makepkg -si --noconfirm)
            echo -e "${GREEN}All packages installed!${NC}"

            # Configuration
            echo -e "${GREEN}Setting up configurations...${NC}"
            echo -e "Copying following files to ~/:">
            for f in ${DOTFILE_PATH}/home/.[!.g]*; do
                echo ${f}
            done

            # Install LazyVim
            rm -rf ~/.config/nvim ~/.local/share/nvim ~/.local/state/nvim ~/.cache/nvim
            git clone https://github.com/LazyVim/starter ~/.config/nvim
            rm -rf ~/.config/nvim/.git
            cp -lR --remove-destination ${DOTFILE_PATH}/nvim/lua/* ~/.config/nvim/lua/

            # Switch shell to fish
            echo -e "${GREEN}Switching shell to fish...${NC}"
            chsh -s $(which fish)
            ;;
        ubuntu)
            sudo apt update && sudo apt install -y git openssh-client fish
            ;;
        *)
            echo "Unsupported Linux distribution: $distro"
            ;;
    esac
fi
{{ else if eq .chezmoi.os "darwin" }}
brew install git fish
{{ else }}
echo "Unsupported operating system."
{{ end }}

