#!/bin/bash
set -e
export GREEN='\033[1;32m'
export NC='\033[0m'

echo -e "${GREEN}Installing required packages...${NC}"
{{ if eq .chezmoi.os "linux" }}
if [ -f /etc/os-release ]; then
    distro=$(grep -E '^ID=' /etc/os-release | cut -d= -f2 | tr -d '"')
    case $distro in
        arch|manjaro)
            sudo pacman -Syu --noconfirm git openssh fish
            ;;
        ubuntu)
            sudo apt update && sudo apt install -y git openssh-client fish
            ;;
        *)
            echo "Unsupported Linux distribution: $distro"
            ;;
    esac
fi
{{ else if eq .chezmoi.os "darwin" }}
brew install git fish
{{ else }}
echo "Unsupported operating system."
{{ end }}

