{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh
set -eu

# wallpaper: {{ include "dot_config/wallpapers/xp_wallpaper.jpg" | sha256sum }}
# config: {{ include "dot_config/matugen/config.toml.tmpl" | sha256sum }}
# inputs: {{ include ".chezmoiexternal.toml" | sha256sum }}
# dispatcher: {{ include "dot_local/bin/executable_chezmoi-theme.tmpl" | sha256sum }}

"$HOME/.local/bin/chezmoi-theme"
{{- end }}
