#!/bin/bash
set -e

export GREEN='\033[1;32m'
export NC='\033[0m'

retry() {
  local n=1
  local max=5
  local delay=5
  while true; do
    "$@" && break || {
      if [[ $n -lt $max ]]; then
        ((n++))
        echo "Command failed. Attempt $n/$max:"
        sleep $delay;
      else
        echo "Command failed after $n attempts."
        return 1
      fi
    }
  done
}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

case "$osid" in
  arch|manjaro)
    echo -e "${GREEN}Installing packages for $osid...${NC}"
    {{ range .packages["shared-arch"].pacman }}
    retry sudo pacman -S --noconfirm {{ . | quote }}
    {{ end }}
    echo -e "${GREEN}Installing AUR packages...${NC}"
    {{ range .packages["shared-arch"].aur }}
    retry bash -c "cd /tmp && git clone https://aur.archlinux.org/{{ . }}.git && cd {{ . }} && makepkg -si --noconfirm"
    {{ end }}
    ;;
  ubuntu)
    echo -e "${GREEN}Installing packages for Ubuntu...${NC}"
    retry sudo apt update
    {{ range .packages["ubuntu"].apt }}
    retry sudo apt install -y {{ . | quote }}
    {{ end }}
    echo -e "${GREEN}Installing Snap packages...${NC}"
    {{ range .packages["ubuntu"].snap }}
    retry sudo snap install {{ . }}
    {{ end }}
    ;;
  *)
    echo "Unsupported OS: $osid"
    exit 1
    ;;
esac

echo -e "${GREEN}Package installation complete!${NC}"

