#!/bin/bash
set -e

export GREEN='\033[1;32m'
export NC='\033[0m'

# Setup system configurations

{{- $osid := .chezmoi.osRelease.id -}}

{{ if or (eq $osid "arch") (eq $osid "manjaro") }}
  echo -e "${GREEN}Setting up mirrorlist${NC}"
  {{ if eq $osid "arch" }}
    sudo pacman -S --noconfirm reflector
    sudo reflector --country "US" --latest 10 --sort rate --save /etc/pacman.d/mirrorlist
  {{ else if eq $osid "manjaro" }}
    sudo pacman-mirrors --fasttrack
  {{ end }}

  echo -e "${GREEN}Synchronizing package databases${NC}"
  sudo pacman -Syy
  echo -e "${GREEN}Configuring pacman settings${NC}"
  sudo sed -i 's/#ParallelDownloads = 5/ParallelDownloads = 10/g' /etc/pacman.conf
  sudo sed -i '/#\[multilib\]/,/#Include/ s/#//' /etc/pacman.conf

  echo -e "${GREEN}Installing paru...${NC}"
  sudo pacman -S --noconfirm base-devel git
  bash -c "cd /tmp && git clone https://aur.archlinux.org/paru.git && cd paru && makepkg -si --noconfirm"
  echo -e "${GREEN}paru installed successfully!${NC}"
{{ else if eq $osid "ubuntu" }}
  echo -e "${GREEN}Setting up configurations for Ubuntu...${NC}"
{{ else }}
  echo "Unsupported OS: {{ $osid }}"
  exit 1
{{ end }}

# Installing lazyvim
if [ -d "$HOME/.config/nvim" ]; then
  mv "$HOME/.config/nvim" "$HOME/.config/nvim.bak"
fi
git clone https://github.com/LazyVim/starter "$HOME/.config/nvim"
rm -rf "$HOME/.config/nvim/.git"

echo -e "${GREEN}System configuration complete!${NC}"

