#!/bin/bash
set -e

export GREEN='\033[1;32m'
export NC='\033[0m'

{{- $osid := .chezmoi.osRelease.id -}}

{{ if or (eq $osid "arch") (eq $osid "manjaro") }}
# Setup system configurations
enable_multilib(){
  sudo sed -i '/#\[multilib\]/,/#Include/ s/#//' /etc/pacman.conf
  if ! grep -q '^\[multilib\]' /etc/pacman.conf; then
    sudo tee -a /etc/pacman.conf <<EOF

      [multilib]
      Include = /etc/pacman.d/mirrorlist 
EOF
  fi
}

  echo -e "${GREEN}Setting up mirrorlist${NC}"
  {{ if eq $osid "arch" }}
    sudo pacman -S --noconfirm reflector
    sudo reflector --country "US" --latest 10 --sort rate --save /etc/pacman.d/mirrorlist
  {{ else if eq $osid "manjaro" }}
    sudo pacman-mirrors --fasttrack
  {{ end }}

  echo -e "${GREEN}Configuring pacman settings${NC}"
  sudo sed -i 's/#ParallelDownloads = 5/ParallelDownloads = 10/g' /etc/pacman.conf
  enable_multilib
  echo -e "${GREEN}Synchronizing package databases${NC}"
  sudo pacman -Syy

  echo -e "${GREEN}Installing paru...${NC}"
  sudo pacman -S --noconfirm base-devel git
  bash -c "cd /tmp && git clone https://aur.archlinux.org/paru.git && cd paru && makepkg -si --noconfirm"
  echo -e "${GREEN}paru installed successfully!${NC}"
{{ else if eq $osid "ubuntu" }}
  echo -e "${GREEN}Setting up configurations for Ubuntu...${NC}"
  sudo apt update && sudo apt-get install -y software-properties-common
  sudo add-apt-repository ppa:neovim-ppa/unstable
  sudo add-apt-repository ppa:atareao/telegram
  sudo apt update && sudo apt upgrade -y
{{ else }}
  echo "Unsupported OS: {{ $osid }}"
  exit 1
{{ end }}
