#!/bin/bash
set -e

export GREEN='\033[1;32m'
export NC='\033[0m'

echo -e "\n${GREEN}Setting fish and fisher...${NC}"
if command -v fish &> /dev/null; then
  echo -e "${GREEN}Installing Fisher...${NC}"
  fish -c 'curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher'
  echo -e "${GREEN}Installing Fish plugins...${NC}"
  fish -c 'fisher update'
else
  echo "Fish shell is not installed. Skipping Fisher and plugin installation."
fi

echo -e "${GREEN}fish and fisher setup complete!${NC}"