#!/bin/bash
set -e

export GREEN='\033[1;32m'
export NC='\033[0m'

retry() {
  local n=1
  local max=5
  local delay=5
  while true; do
    "$@" && break || {
      if [[ $n -lt $max ]]; then
        ((n++))
        echo "Command failed. Attempt $n/$max:"
        sleep $delay;
      else
        echo "Command failed after $n attempts."
        return 1
      fi
    }
  done
}

{{- $osid := .chezmoi.osRelease.id -}}

{{ if or (eq $osid "arch") (eq $osid "manjaro") }}
  echo -e "${GREEN}Installing packages for {{ $osid }}...${NC}"
  retry sudo pacman -S --noconfirm {{ join .packages.sharedArch.pacman " " | quote }}
  echo -e "${GREEN}Installing AUR packages...${NC}"
  echo -e "${GREEN}This script doesn't support aur packages${NC}"
{{ else if eq $osid "ubuntu" }}
  echo -e "${GREEN}Installing packages for Ubuntu...${NC}"
  retry sudo apt update
  retry sudo apt install -y {{ join .packages.ubuntu.apt " " | quote }}
  echo -e "${GREEN}Installing Snap packages...${NC}"
  retry sudo snap install {{ join .packages.ubuntu.snap " " | quote }}
{{ else }}
  echo "Unsupported OS: {{ $osid }}"
  exit 1
{{ end }}

echo -e "${GREEN}Package installation complete!${NC}"

