{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "oh-my-openagent@latest"
  ],
  "mcp": {
    "zhtw-mcp": {
      "type": "local",
      "command": [
        "{{ .chezmoi.homeDir }}/.local/bin/zhtw-mcp"
      ],
      "enabled": true
    }
  },
  "instructions": [
    "./instructions/zh-tw.md"
  ]
}
