[Desktop Entry]
Type=Application
Name=OpenWhispr
Exec="{{ .chezmoi.homeDir }}/.local/bin/openwhispr" %U
Icon=audio-input-microphone
Terminal=false
StartupWMClass=open-whispr
Categories=AudioVideo;Audio;
MimeType=x-scheme-handler/openwhispr;
